<div class="top col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contact Information</h3>
    </div>
    <div class="panel-body">
      <div><h5>For questions, suggestions and issues please send email to:</h5>
           <u><%= mail_to "sagy26@gmail.com" %></u>
      </div><br>
      <div><h5>Find us on Facebook:</h5>
          <u><%= link_to "Restart", "https://www.facebook.com/groups/restart.spouse" %></u>
      </div>

    </div>
  </div>
</div>
