<div id="contact" class="top">
  <div class="container">
    <div>For questions, suggestions and issues please send email to:<br><br>
         <%= mail_to "sagy26@gmail.com" %>
    </div>
  </div>
</div>
