<div id="contact" class="top">
  <div class="container">
    <div><h5>For questions, suggestions and issues please send email to:</h5>
         <%= mail_to "sagy26@gmail.com" %>
    </div><br>
    <div><h5>Find us on Facebook:</h5>
        <%= link_to "Restart", "https://www.facebook.com/groups/restart.spouse" %>
    </div>

  </div>
</div>
