<div id="splash">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Welcome to Restart</h1>
      <p class="lead">Thinking of you for a change...</p>
      <p>A job search site for Israelis around the world</p><br>
      <div class="row">
        <p class="role well col-md-5">Employers - Find Talent<br><br>
          <u><b><%= link_to "Post Job", search_company_path,
          {:style=>'color:#33691E;'}  %><b></u></p>
      </div><br><br>
      <div class="row">
        <p class="role well col-md-5">Job Seekers - Get Found<br><br>
        <u><b><%= link_to "Create Profile", new_profile_path,
        {:style=>'color:#33691E;'}  %><b><u></p>
      </div>
    </div>
  </div>
</div>
