/*--------------------------------- NAVBAR -----------------------------------*/
#mainNav {

  .navbar-toggle {
    margin-top: 20px;
  }

  a {
    color: #616161;
    font-weight: 450;
    font-size: 14px;
  }

  .container-fluid {
    background-color: #EEEEEE;
  }

  .navbar {
    height: 40px;
  }

  .notification-dropdown {
    margin-top: 10px;

    button {
      border: none;
    }
  }

  .navbar-collapse .navbar-right {
    font-family: 'News_706';
    margin-top: -17px;

    a:hover,
    a:focus {
      color: green;
      font-weight: bold;
      font-size: 17px;
      font-color: black;
    }

    .main {
      margin-top: 1px;
    }
    .profile{
      margin-top: 2px;
    }

  }

  /*navbar brand text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: black;
      margin-top: 3px;
  }

  .page-scroll {
    position: fixed;
    left: 50px;
  }

  .brand {
    position: fixed;
    width: 60px;
    top: 10px;
    left: 15px;
  }

  .dropdown {
    margin-top: -10px;
  }

  .dropdown-menu  {
    a {color: black;}
  }

  .fa {
    font-size: 23px;
    margin-top: 8px;
  }

  .caret {
    border-width: 7px;
  }

}
----------------------------SPLASH PAGE-----------------------------------------
html,body { height: 100%; }
.jumbotron {
  background: image-url('ofice.jpg');
  background-size:cover;
  // &:before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  //  opacity: .6;
  //   }
  #flash-error {
    color: red;
  }
  #flash-notice {
    color: green;
  }
  .flash {
    margin-right: 50px;
  }

  }
.jumbotron .container {
  height:450px;
  color: white;
}
---------------------------APPLICATION------------------------------------------

body {
  background-color: #F5F5F5;
}
-----------------------------PROFILES-------------------------------------------
#new_profile h1 {
  margin-top: -20px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-family: "PDF_in_Text";
}

.fa-icon {
    color: navy;
  }
