/*--------------------------------- NAVBAR -----------------------------------*/
#mainNav {

  .navbar-toggle {
    margin-top: 20px;
  }

  a {
    color: #616161;
    font-weight: 450;
    font-size: 14px;
  }

  .container-fluid {
    background-color: #EEEEEE;
  }

  .navbar {
    height: 40px;
  }

  .notification-dropdown {
    margin-top: 10px;

    button {
      border: none;
    }
  }

  .navbar-collapse .navbar-right {
    font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: -17px;

    a:hover,
    a:focus {
      font-weight: bold;
      color: black;
    }

    .main {
      margin-top: 1px;
    }
    .profile{
      margin-top: 2px;
    }
    .contact {
      margin-top: 2px;
    }

  }

  .navbar-default {
    margin-bottom: 0;
  }
  /*navbar brand text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: black;
      margin-top: 3px;
  }

  .page-scroll {
    position: fixed;
    left: 50px;
  }

  .brand {
    width: 60px;
    margin-top: 8px;
    margin-left: 15px;
  }

  .dropdown {
    margin-top: -10px;
  }

  .dropdown-menu  {
    a {color: black;}
  }

  .fa {
    font-size: 23px;
    margin-top: 8px;
  }

  .caret {
    border-width: 7px;
  }

}
// ----------------------------SPLASH PAGE--------------------------------------

  .jumbotron-fluid {
    background: image-url('ofice.jpg');
    background-size:cover;
    height:600px;
    color: white;
    }
    .role {
      color:#AED581;
      font-weight: bold;

    }

// ---------------------------APPLICATION---------------------------------------
html,body {
  height: 100%;
  background-color: #F5F5F5;
  .flash {
    #flash-error {
      color: red;
    }
    #flash-notice {
      color: green;
    }
    margin-right: 50px;
  }
}
.top {
  margin-top: 50px;
}
hr {
  background-color: #616161;
  border-width: 5px;
}

// -----------------------------PROFILES----------------------------------------
#new_profile h1 {
  margin-top: -20px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#profile_index {
  margin-top: 50px;
}

.fa-icon {
    color: navy;
  }

  //-------------------------------FOOTER---------------------------------------
  .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
