/*--------------------------------- NAVBAR -----------------------------------*/
#mainNav {

  .navbar-toggle {
    margin-top: 20px;
  }

  a {
    color: #616161;
    font-weight: 450;
    font-size: 14px;
  }

  .container-fluid {
    background-color: #EEEEEE;
  }

  .navbar {
    height: 40px;
  }

  .notification-dropdown {
    margin-top: 10px;

    button {
      border: none;
    }
  }

  .navbar-collapse .navbar-right {
    font-family: 'News_706';
    margin-top: -17px;

    a:hover,
    a:focus {
      font-weight: bold;
      color: black;
    }

    .main {
      margin-top: 1px;
    }
    .profile{
      margin-top: 2px;
    }
    .contact {
      margin-top: 2px;
    }

  }

  .navbar-default {
    margin-bottom: 0;
  }
  /*navbar brand text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: black;
      margin-top: 3px;
  }

  .page-scroll {
    position: fixed;
    left: 50px;
  }

  .brand {
    width: 60px;
    margin-top: 8px;
    margin-left: 15px;
  }

  .dropdown {
    margin-top: -10px;
  }

  .dropdown-menu  {
    a {color: black;}
  }

  .fa {
    font-size: 23px;
    margin-top: 8px;
  }

  .caret {
    border-width: 7px;
  }

}
// ----------------------------SPLASH PAGE--------------------------------------

  .jumbotron-fluid {
    background: image-url('ofice.jpg');
    background-size:cover;
    height:600px;
    color: white;
    }

// ---------------------------APPLICATION---------------------------------------
html,body {
  height: 100%;
  background-color: #F5F5F5;
  .flash {
    #flash-error {
      color: red;
    }
    #flash-notice {
      color: green;
    }
    margin-right: 50px;
  }
}
.top {
  margin-top: 50px;
}
hr {
  background-color: #616161;
  border-width: 5px;
}

// -----------------------------PROFILES----------------------------------------
#new_profile h1 {
  margin-top: -20px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-family: "PDF_in_Text";
}

#profile_index {
  margin-top: 50px;
}

.fa-icon {
    color: navy;
  }
